@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}
@keyframes rainbowcard {
    0% { background-color: red; }
    14% { background-color: orange; }
    28% { background-color: yellow; }
    42% { background-color: green; }
    57% { background-color: blue; }
    71% { background-color: indigo; }
    85% { background-color: violet; }
    100% { background-color: red; }
}

.rainbow-text:hover {
  /* @apply animate-rainbow; */
    animation: rainbow 18s ease-in-out infinite;
}

.rainbow-card:hover {
  /* @apply animate-rainbow; */
    animation: rainbowcard 5s ease-in-out infinite;
}